
<ul class="nav">
    <li class="nav-item">
        <a routerLink = "/login-form">Login</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/registeration-form">Register</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/quiz">Quiz</a>
    </li>
    <li class="nav-item">
        <a routerLink = "/add-question">Add Questions</a>
    </li>
  </ul>



<!--
<h2>Root component!!!</h2>
{{title}} interpolation
{{name}}
Property binding
<img [src]="imgSrc">
<button (click) ="updateName()" [disabled]="isDisabled">Click me</button>
<app-home></app-home>
-->


<router-outlet></router-outlet>

<!--<p>after router-outlet</p>-->

